/* Main application styles */

html, body, #viewDiv, #appContainer {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#appNavBar {
    border-radius: 0px;
    background-color: currentColor;
    text: white;
}

.navbar {
    margin-bottom: 0;
}

/* Search widget */
.arcgisSearch {
    display: block;
    top: 1.25em;
    left: 6em;
    right: 0.625em;
    position: absolute;
    height: 3.75em;
    width: auto;
    font-size: 1em;
    line-height: 1.25em;
    z-index: 3;
}