<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Maxar | Spatial On-demand</title>

        <link rel="stylesheet" th:href="@{https://js.arcgis.com/3.30/esri/css/esri.css}" />
        <link rel="stylesheet" th:href="@{webjars/bootstrap/3.0.0/css/bootstrap.css}" />
        <link rel="stylesheet" th:href="@{css/app.css}" />

        <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
        <script th:src="@{https://js.arcgis.com/3.30/}"></script>
        <script th:src="@{webjars/bootstrap/3.0.0/js/bootstrap.js}"></script>
        <script th:src="@{js/app.js}"></script>
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav id="appNavBar" class="navbar navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="#">
                <img class="d-inline-block align-top" th:src="@{img/maxar_logo.png}" width="30" height="30" alt="">
                Spatial On-demand
            </a>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="filtersMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="filtersMenuDropDown">
                        <a class="dropdown-item" id="productsDropDownItem" href="#">Products</a>
                        <a class="dropdown-item" id="criteriaDropDownItem" href="#">Criteria</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-light navbar-btn" style="margin-right:15px;">Sign In</button>
                </li>
            </ul>
        </nav>

        <!-- Map View container -->
        <div id="appContainer" class="container-fluid">
            <div class="row" style="height: 100%;">
                <div class="col-sm-12" style="height: 100%">
                    <div id="viewDiv"></div>
                    <div id="ui-dijit-search"></div>
                </div>
            </div>
        </div>
    </body>
</html>